@media (max-width: 768px) {
  .container {
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .nav__menu {
    display: none;
  }

  .welcome__text-container {
    align-items: center;
    text-align: center;
  }

  .welcome__description {
    width: 100%;
  }

  .services {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .services__item {
    align-items: center;
    text-align: center;
  }

  .info__container-flex {
    flex-direction: column;
    align-items: center;
  }

  .info__container-img {
    order: 1;
    margin-bottom: 20px;
  }

  .info__container-text {
    order: 2;
    align-items: center;
  }

  .info__ul {
    grid-template-columns: 1fr;
    text-align: left;
    display: inline-block;
    margin: 0 auto;
  }

  .contacts__container {
    text-align: center;
  }

  .info__desc {
    text-align: center;
  }
}
