.container {
  padding: 35px 45px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: rgba(53, 53, 53, 0.183);
  backdrop-filter: blur(8px);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.541);
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.142);
}

.btn:hover {
  background-color: rgba(197, 160, 89, 0.08);
  border-color: var(--accent-gold);
}
